<h3 class="text-md font-bold text-gray-600 mb-4 text-center">Recent Reviews</h3>

<div class="w-full">
  <ul>
    <% @reviews.each do |review| %>
      <li class="<%= cycle('bg-cyan-50', 'bg-white') %> py-4 px-5 rounded-lg my-2">
        <div class="flex items-center gap-2 text-sm mb-2">
          <span class="font-medium"><%= review.name %></span>
          <span class="text-yellow-500">★</span><span><%= pluralize(review.stars, "star") %></span>
          <span class="text-gray-500 ml-auto"><%= time_ago_in_words(review.created_at) %>
            ago</span>
        </div>
        <div class="mt-2 text-gray-700 text-left"><%= review.comment %></div>
      </li>
    <% end %>
  </ul>
</div>
