<div
  class="
    flex flex-col items-center py-12 px-4 space-y-8 text-center max-w-2xl mx-auto
  "
>
  <div>
    <%= image_tag @movie.image_file_name,
    class: "w-64 md:w-96 h-auto object-cover rounded-lg" %>
  </div>
  <div>
    <h1 class="text-xl font-bold text-gray-600"><%= @movie.title %></h1>
  </div>
  <div class="flex justify-center items-center space-x-6 py-2">
    <span
      class="
        bg-blue-100 text-blue-800 font-medium px-3 py-1 rounded-full text-sm
      "
    >
      <%= @movie.rating %>
    </span>
    <span class="text-gray-600 font-medium">
      <%= year_of(@movie) %>
    </span>
    <span class="text-green-700 font-medium">
      <%= total_gross(@movie) %>
    </span>
  </div>
  <div>
    <p class="text-gray-600"><%= @movie.description %></p>
  </div>

  <div class="space-x-6 px-6 pb-6">
    <%= link_to "Edit movie",
    edit_movie_path(@movie),
    class: "bg-cyan-600 text-white px-4 py-2 rounded hover:bg-cyan-700" %>

    <%= link_to "Delete movie",
    movie_path(@movie),
    data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?",
    },
    class: "bg-cyan-600 text-white px-4 py-2 rounded hover:bg-cyan-700" %>
  </div>
</div>
